<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>It's Not Late, No!</title>
</head>
<body data-ng-app="timeApp">
		<div ng-controller="timeAppController">
			<h1>25 or 6 to 4?</h1>
			<h2>{{ currentDay }}
			<section>
				<button data-ng-click="zone = 1">Pacific Standard Time</button>
				<button data-ng-click="zone = 2">Mountain Standard Time</button>
				<button data-ng-click="zone = 3">CentralTime Standard Time</button>
				<button data-ng-click="zone = 4">Eastern Standard Time</button>
				<button data-ng-click="zone = 5">Alaskan Standard Time</button>
				<button data-ng-click="zone = 6">Hawaiian Standard Time</button>
			</section>

			<section>
				<h2 data-ng-show="zone === 1" ng-cloak>{{ pacificTime }}</h2>
				<h2 data-ng-show="zone === 2" ng-cloak>{{ mountainTime }}</h2>
				<h2 data-ng-show="zone === 3" ng-cloak>{{ centralTime }}</h2>
				<h2 data-ng-show="zone === 4" ng-cloak>{{ easternTime }}</h2>
				<h2 data-ng-show="zone === 5" ng-cloak>{{ alaskanTime }}</h2>
				<h2 data-ng-show="zone === 6" ng-cloak>{{ hawaiianTime }}</h2>
			</section>
		</div>

  <script src="bundle.js"></script>
</body>
</html>
