<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Second WebPack App with some Angular stuff</title>
  </head>

  <!-- Angular is funcional as of 11:14 AM -->

  <body data-ng-app>
    <div>
      <h1>Hello. The time is: </h1>
      <h2> {{time}} </h2>

      </h1>
    </div>
    <h1>{{greeting}}</h1>
    <input type="text" data-ng-model="greeting">
    <script type="text/javascript" src="bundle.js"></script>
    <script type="text/javascript" data-ng-model="time">
      function getTime () {
        var time = moment().format('MMMM Do YYYY, h:mm:ss a');
        return time;
        console.log('Time Got-ted');
      }

      getTime();
    </script>
  </body>
</html>
