<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Time is in our hands!</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:200,300,900' rel='stylesheet' type='text/css'>
  <link href="styles.css" rel="stylesheet" type="text/css">
</head>
<body data-ng-app="timeApp">

  <main data-ng-controller="clockController">
    <section id="timeWrap">
      <div id="clock">{{ clock }}</div>
      <div id="date">{{ date }}</div>
    </section>

    <button ng-click="myAddFunction()">Click me to change time zone!</button>
    <button ng-click="mySubFunction()">Click me to change time zone!</button>
  </main>

<script src="bundle.js"></script>

</body>
</html>
