<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Client Side App</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body data-ng-app='timeApp'>
    <section data-ng-controller='timeController'>
      <h1>The time is:</h1>
      <h2>{{time}}</h2>
      <h3>Timezone: UTC {{timezone}}</h3>
      <button data-ng-click='minusHour()'>-1</button><button data-ng-click='addHour()'>+1</button>
    </section>
    <script src='bundle.js'></script>
  </body>
</html>
